
body {
    margin: 0;
    padding: 0;
    background-color: #D1CFE8;
}

h2 {
    margin-top: 170px;
    font-family: 'Fraunces';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: 500;
    font-size: 7rem;
    margin-bottom: 20px;
    color: #A19DCB;
    -webkit-text-stroke:  1px black;
}

h3 {
    font-weight: 500;
    margin-top: -50px;
    font-family: 'Fraunces';
    color: #A19DCB;
    text-shadow: 2px 2px 4px #888282; 
}

p {
    font-size: 15px;
    font-family: 'Frauces';
    color: #634E4E;
}


.container {
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 290px;
    margin: auto;
    height: 170px;
    padding: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    background-color: #B8D4D7;
    width: 220px;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    text-size-adjust: small;
}

.b1 {
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background: #E6BABE;
    font-family: Gadugi;
    color: rgb(0, 0, 0);
    font-size: 20px;
    
    
}


.b1 a {
    text-decoration: none;
    transition: padding 0.3s ease;
    color: black;
    

}


.input::placeholder {
    color: black;
    font-family: Gadugi;
}




.toggle-password {
    position: absolute; 
    right: 480px;
    top: 440px; 
    transform: translateY(-50%); 
    background: none; 
    border: none; 
    cursor: pointer; 
}
